*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body, html{
	background-color: white;
	color: black;
	line-height: 2.0em;
}

	/*NavBar Styles*/ 
.nav_bar{
	padding-top: 30px;
}

.nav_bar a{
	text-decoration: none;
}

.nav_bar img{
	height: 35px;
	width: 35px;
}

.nav_bar #logo{
	padding-left: 7.5%
}

.nav_bar #company_name{
	color: #274b89;
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 120px;
}

.nav_bar #login{
	color: #274b89;
	margin-right: 13px;
}

.nav_bar button{
	background-color: #274b89;
	color: white;
	border: none;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 15px;
	border-radius: 30px;
}

	/*Main Section Styles*/
.about_us{
	padding-top: 200px;
}

.about_us h1{
	color: #274b89;
	font-weight: bold;
	margin-left: 100px;
}

.about_us h3{
	margin-left: 100px;
	font-size: 20px;
}

.about_us h4{
	margin-left: 100px;
	color: #ffb211;
	font-weight: bold;
	padding-top: 10px;
}

.about_us .basket{
	width: 800px;
	height: 880px;
	margin-top: -275px;
	margin-left: -130px; 
}

.find{
	padding-bottom: 60px; 
}

.find h3{
	color: #274b89;
	font-weight: bold;
	padding-left: 65%;
}

.find img{
	padding-left: 64%;
}

.find h4{
	color: #555;
	margin-left: -170px;
}

.discover{
	margin-bottom: 120px;
}

.discover h3{
	color: #274b89;
	text-align: center;
	font-size: 28px;
}

.discover button{
	background-color: #274b89;
	color: white;
	border: none;
	text-align: center;
	font-size: 18px;
	margin-left: 44%;
	margin-top: -20px;
	padding: 10px 25px;
	border-radius: 30px;
	font-weight: 600;
}

.carousel-indicators{
	position: absolute;
	bottom: -360px;
}

.carousel-indicators li{
	background-color: black;
}

.carousel-indicators .active{
	background-color: #274b89;
}

.slideshow{
	height: 500px;
	background-color: white;
	margin-bottom: 230px;
}

.slideshow img{
	width: 380px;
	height: 419px;
	margin-left: 80px;
	margin-top: 20px;
}

.slideshow .description{
	color: #274b89;
	font-size: 38px;
	line-height: 1.3em;
	font-weight: bold;
	margin-right: 80px;
	margin-top: 30px;
}

.slideshow .name{
	font-size: 19px;
	letter-spacing: 11px;
	color: #555;
}

.mobile{
	background-color: #f0f0f5;
	height: 450px;
	margin-bottom: 250px;
}

.mobile img{
	width: 650px;
	height: 450px;
}

.mobile h1{
	color: #274b89;
	font-size: 50px;
	font-weight: 600;
	line-height: 1.2em;
}

.mobile h3{
	color: #555;
	line-height: 1.5em;
}

.mobile .store{
	width: 322px;
	height: 64px;
	margin-left: -10px;
	margin-top: 20px;
}

.wallet h1{
	color: #274b89;
	text-align: center;
	font-size: 55px;
	font-weight: 800;
}

.options{
	padding-left: 100px;
	padding-top: 60px;
	padding-bottom: 150px;
}

.options h4{
	color: #274b89;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.opt{
	margin-bottom: 50px;
	margin-right: 60px;
}

.options p{
	color: #555;
	font-size: 24px;
	line-height: 1.5em;
}

.options img{
	margin-left: -12px;
	margin-right: 10px;
	width: 75px;
	height: 62px;
}

.options .chat{
	width: 636px;
	height: 539px;
	margin-top: 150px;
}

.count img{
	width: 1346px;
	height: 680px;
	margin-bottom: -150px;
}

.token{
	margin-top: 300px;
}

.token img{
	padding-left: 70px;
}

.token h2{
	margin-left: -300px;
	margin-top: -50px;
}

.token h1{
	color: #274b89;
	margin-left: -300px;
	margin-top: -10px;
	font-size: 125px;
}

.token span img{
	margin-left: -70px;
	margin-top: -20px;
}

.crypto .section1{
	margin-left: 370px;
	width: 400px;
	/*background-color: yellow;*/
}

.crypto .section2{
	margin-left: 40px;
	width: 400px;
	/*background-color: pink;*/
}

.crypto .section1 h4, .crypto .section2 h4{
	color: #274b89;
	font-size: 24px;
	font-weight: 600;
}

.crypto .section1 p, .crypto .section2 p{
	font-size: 17px;
	color: #555;
}

.crypto{
	padding-bottom: 100px;
}

.ambasa_image{
	margin-left: 10px;
}

.become_ambasa{
	margin-left: -10px;
	margin-top: 20px;
}

.become_ambasa h2{
	color: #274b89;
	font-weight: bold;
	font-size: 36px;
}

.become_ambasa p{
	font-size: 20px;
	color: #555;
	margin-top: 30px;
}

.become_ambasa button{
	display: flex;
	justify-content: center;
	height: 60px;
	width: 230px;
	background-color: #274b89;
	color: white;
	border-radius: 40px;
	border: none;
	font-size: 17px;
	text-align: left;
	font-weight: 600;
	margin-top: 10px;
	padding: 15px 0 0 15px;
	/*padding-top: 15px;
	padding-left: 15px;*/
}

.become_ambasa span{
	padding-left: 40px;
	margin-top: 3px;
}

.what_awaits{
	background-color: #ecf7ff;
	height: 700px;
}

.what_awaits h1{
	color: #274b89;
	font-size: 60px;
	font-weight: 800;
	padding: 140px 0 0 100px;
}

.what_awaits h4{
	color: #274b89;
}

.box_cube{
	background-color: #c2e0ff;
	height: 280px;
	width: 355px;
	margin-top: 20px
}

.box1{
	margin-left: 100px;
}

.box2, .box3{
	margin-left: 20px;
}

.box_cube img{
	height: 80px; 
	width: 80px;
	margin-left: 15px;
	margin-top: 30px;
}

.box_cube h4{
	font-size: 24px;
	font-weight: bold;
	padding-top: 15px;
}

.box_cube p{
	font-size: 17px;
	color: #555;
}

.slide{
	height: 170px;
	margin-bottom: 30px;
}

.outer-box{
	background-color: #061e48;
	height: 610px;
}

.inner-box{
	background-color: #274b89;
	height: 400px;
	margin: 100px 70px;
	border-radius: 20px;
}

.inner-box h2{
	padding-top: 70px;
	color: #c2e0ff;
	font-weight: bold;
	text-align: center;
	font-size: 65px;
}

.inner-box button{
	background-color: #ffc107;
	color: white;
	border: none;
	text-align: center;
	font-size: 20px;
	margin-left: 41%;
	margin-top: 20px;
	padding: 20px 50px;
	border-radius: 30px;
	font-weight: 600;
}

.inner-box button:hover{
	background-color: #ffb211;
}


	/* Footer Style */
footer{
	background-color: #f6f6f6;
	margin: -20px -15px 0 -15px;
	padding-top: 100px;
	padding-bottom: 200px;
}

table{
	margin-left: 35px;
}

.heading{
	color: #274b89;
	font-size: 25px;
}

th{
	padding: 0 55px;
	padding-bottom: 15px;
}

td{
	padding-top: 10px;
}

.footer #icon{
	height: 40px;
	width: 40px;
}

.footer a{
	text-decoration: none;
	color: #555;
	font-size: 18px;
	font-weight: bold;
	padding-left: 55px;
}

.footer a:hover{
	font-weight: bold;
	text-decoration: underline;
	color: black;
}

.footer #social{
	width: 160px;
	height: 35px;
	margin-left: 50px;
	cursor: pointer;
}